<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center; color:black" class="mt-5 mb-5">HAKKIMIZDA</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
     <img style="width: 100%; height: 550px;" src="assets/abpicture.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <p><strong> VİZYONUMUZ </strong>; <br><br>

        Daha sağlıklı evcil hayvanlar yetiştirmeye giden yolda öncü firmalar arasında olmak, insanlığa ve canlarımıza doğal, pratik, ekonomik ve zengin seçenekli çözümler sunmak, çevre bilincine sahip, teknolojiye ve insana yatırım yapan, birlikte başarmayı ve müşteri memnuniyetini daima ön planda tutan, değer yaratan, planlı büyümeyi amaçlayan ve bu başarıyı bölgesel pazardan, uluslar arası piyasalara taşıyarak global bir marka olup ithalat ve ihracat alanında güvenilir bir firma olmak. </p>
        <p><strong> MİSYONUMUZ </strong> <br><br>

          * Şirketimizin yetenek ve kapasitesi doğrultusunda, müşterilerimizin tüm ürün ve hizmet beklentilerini dünya standartlarında karşılamak <br>

          * Müşterilerimizin ve Tüm Hayvan Sevenlerin memnuniyetlerini artırmak <br>

          * Tabiatta doğal olarak var olan hayvan sağlığına yönelik kaynakları öncü ve yenilikçi yaklaşımlarla, ilişkide olduğumuz kurum ve kişilerle uyum içerisinde gerçekleştirmek <br>

          * Dünya, ülke ve bölge ekonomisine katkıda bulunmak <br>

          * Mevcut hizmetlerimiz ve yeni hedeflerimiz ile faaliyet bölgelerimizin gelişiminde önemli roller alarak, sürekli girişimci olmak <br>

          * Evcil Dostlarımızın hayatlarının her dönemine sağlık, enerji ve mutluluk katacak yaşam kalitesini yükseltecek ürün, hizmet ve kavramları oluşturup müşterilerimizin hizmetine sunmak <br>

          * Bitkisel ürün ve kapsül dolum sektörüne Ar-Ge, üretim, satış ve müşteri memnuniyetini en ön planda tutarak, kendi alanında dünyanın en büyük firmalarından biri haline gelmektir. </p>
    </div>
  </div>
</div>







<app-footer></app-footer>
