<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">İLETİŞİM</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 d-flex justify-content-center" >
      <div class="contact-main" style="width: 100%; height: auto;">
        <ul style="list-style-type:none">
          <strong>
          <li>Adres: F.altay cad no:22 3/6 MURATPASA/ANTALYA</li><br>
          <li>Telefon: 0242 312 8363</li><br>
          <li>Eposta: msavas170@gmail.com</li><br>
          <li>Çalışma Saatler: P.tesi-C.tesi 09:00 - 18:00</li><br>
        </strong>
        </ul>
      </div>
    </div>
    <div class="col-lg-7 d-flex justify-content-center">
      <form>
        <div class="row">
        <div class="form-group col-lg-6">
          <label for="exampleInputEmail1">Ad Soyad:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad Soyad">

        </div>
        <div class="form-group col-lg-6">
          <label for="exampleInputPassword1">Konu:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Konu">
        </div>
        <div class="form-group col-lg-12">
          <label for="exampleInputPassword1">Mesaj:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>


      </div>
      <br>
        <button type="submit" class="btn btn-primary">Gönder</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.8250445759027!2d30.65316431514757!3d36.89453347992932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391cd6e38486d%3A0xfbd4e14587332eeb!2sAkdeniz%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1610818969224!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>



<app-footer></app-footer>
