<app-navbar></app-navbar>

<html>
<body>
   <div class="carousel-item active">
      <img style="width: 100%; height: 550px;" src="assets/c1.jpg" class="d-block w-100" alt="..."> 
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>Pandemi Dönemi Değerlendirme Formu</h2>

    <table>
      <tr>
        <th>Adı Soyadı</th>
        <th>
        <input type="text" id="adSoyad" name="adSoyad">
        </th>
        <th>TC Kimlik Numarası</th>
        <th>
        <input type="tel" id="tckn" name="tckn">
        </th>
        <th>Doğum Tarihi</th>
        <th>
        <input type="date" id="tarih" name="tarih">
        </th>
        <th>Cinsiyet</th>
        <th>
         <input list="cinsiyet" name="cinsiyet">
         <datalist id="cinsiyet">
           <option value="Kadın">
           <option value="Erkek">
         </datalist>
        </th>
      </tr>
    </table>
<form action="C:\Users\LENOVO\Documents\GitHub\internet_programciligi\aylin\src\app\components\anket\anket.component.html">
<table><br>
  <tr>
    <th>Pandemi sürecinde</th>
    <th>Evet</th>
    <th>Belki</th>
    <th>Hayır</th>
  </tr>
  <tr>
    <td>Uyku düzeninizde bozulma oldu mu ?</td>
    <td>
       <input type="radio" id="cvp1" name="cvp1">1
    </td>
    <td>
       <input type="radio" id="cvp1" name="cvp1">2
    </td>
    <td>
       <input type="radio" id="cvp1" name="cvp1">3
    </td>
  </tr>
  
  <tr>
    <td>Aile ilişkilerinizin yıprandığını düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp2" name="cvp2">1
    </td>
    <td>
       <input type="radio" id="cvp2" name="cvp2">2
    </td>
    <td>
       <input type="radio" id="cvp2" name="cvp2">3
    </td>
  </tr>
  
  <tr>
    <td>Psikolojik olarak kendinizi daha iyi hissediyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp3" name="cvp3">1
    </td>
    <td>
       <input type="radio" id="cvp3" name="cvp3">2
    </td>
    <td>
       <input type="radio" id="cvp3" name="cvp3">3
    </td>
  </tr>
  
  <tr>
    <td>Sıkça duyduğumuz hastalık, vefat, covid gibi kavramlar sizde karamsar bir ruh hali yaratıyor mu ?</td>
    <td>
       <input type="radio" id="cvp4" name="cvp4">1
    </td>
    <td>
       <input type="radio" id="cvp4" name="cvp4">2
    </td>
    <td>
       <input type="radio" id="cvp4" name="cvp4">3
    </td>
  </tr>
  
  <tr>
    <td>Yaptığınız işlere odaklanmakta zorlanıyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp5" name="cvp5">1
    </td>
    <td>
       <input type="radio" id="cvp5" name="cvp5">2
    </td>
    <td>
       <input type="radio" id="cvp5" name="cvp5">3
    </td>
  </tr>
  
  <tr>
    <td>Çevrenizle olan ilişkilerinizin zedelendiğini düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp6" name="cvp6">1
    </td>
    <td>
       <input type="radio" id="cvp6" name="cvp6">2
    </td>
    <td>
       <input type="radio" id="cvp6" name="cvp6">3
    </td>
  </tr>
  
  <tr>
    <td>Ailenizin ekonomik açıdan olumsuz etkilendiğini düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp7" name="cvp7">1
    </td>
    <td>
       <input type="radio" id="cvp7" name="cvp7">2
    </td>
    <td>
       <input type="radio" id="cvp7" name="cvp7">3
    </td>
  </tr>
  
  <tr>
    <td>Yaşadığınız psikolojik sıkıntıların sağlığınızı olumsuz etkilediğini düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp8" name="cvp8">1
    </td>
    <td>
       <input type="radio" id="cvp8" name="cvp8">2
    </td>
    <td>
       <input type="radio" id="cvp8" name="cvp8">3
    </td>
  </tr>
  
  <tr>
    <td>Sürecin ne zaman biteceğini bilmemek kaygı düzeyinizi artırıyor mu ?</td>
   <td>
       <input type="radio" id="cvp9" name="cvp9">1
    </td>
    <td>
       <input type="radio" id="cvp9" name="cvp9">2
    </td>
    <td>
       <input type="radio" id="cvp9" name="cvp9">3
    </td>
  </tr>
  
 <tr>
   <td>Kendinizle ilgili yeni şeyler keşfettiğinizi düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp10" name="cvp10">1
    </td>
    <td>
       <input type="radio" id="cvp10" name="cvp10">2
    </td>
    <td>
       <input type="radio" id="cvp10" name="cvp10">3
    </td>
  </tr>
  
  <tr>
    <td>Hastalığa yakalanmamak için aldığınız önlemlerin sizde takıntı haline geldiğini düşünüyor musunuz ?</td>
    <td>
       <input type="radio" id="cvp11" name="cvp11">1
    </td>
    <td>
       <input type="radio" id="cvp11" name="cvp11">2
    </td>
    <td>
       <input type="radio" id="cvp11" name="cvp11">3
    </td>
  </tr>
  
  <tr>
    <td>Covid-19 testi yaptırmaktan korkuyor musunuz ?<br>
    <input type="text" id="cvp12" name="cvp12" placeholder="Test yaptırdınız mı?">
    </td>
    <td>
       <input type="radio" id="cvp12" name="cvp12">1
    </td>
    <td>
       <input type="radio" id="cvp12" name="cvp12">2
    </td>
    <td>
       <input type="radio" id="cvp12" name="cvp12">3
    </td>
  </tr>
  <tr>
  <td>Test yaptırdıysanız sonucu ne çıktı ?</td>
    <td>
       <input type="radio" id="cvp13" name="cvp13">Pozitif
    </td>
    <td>
       <input type="radio" id="cvp13" name="cvp13">Negatif
    </td>
    <td>
       <input type="radio" id="cvp13" name="cvp13">Yaptırmadım
    </td>
 </tr>
 
 <tr>
   <td>Pozitif ise, bu dönemde hastalık ile ilgili korkularınız arttı mı?</td>
    <td>
       <input type="radio" id="cvp14" name="cvp14">1
    </td>
    <td>
       <input type="radio" id="cvp14" name="cvp14">2
    </td>
    <td>
       <input type="radio" id="cvp14" name="cvp14">3
    </td>
  </tr>

</table><br>


<a href="http://localhost:4200/anket" onClick="alert('Anketimize katıldığınız için teşekkürler :)');">Kaydet</a>

</form>
</body>
</html>


<app-footer></app-footer>
