<app-navbar></app-navbar>
<app-header></app-header>



<section>
  <div class="container">
    <div class="row">
     
      <div class="col-lg-12">
        <section class="mt-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 style="text-align: center;">En Çok Görüntülenenler</h1>
                <hr>
              </div>
            </div>
          </div>
        </section>
        
        <div class="container">
          <div class="row mt-3">
            
         
            <div class="col-lg-6 d-flex justify-content-center mt-3">
              <div class="urunmain">
                <div class="urunfoto">
                  <a href="#"><img style="width: 100%; height: 300px;" src="assets/2.jpg" alt=""></a>
                </div>
                <a style ="text-decoration: none; color: black;" href="#"><div class="urunbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Tasmalar</h4></div></a>
                <div class="urunaciklama" style="height: 100px; overflow: hidden;"><p>Köpek sahipleri uzun seyahatlerine, koşullar uygunsa mutlaka köpeklerini de götürmek ister. Alacağınız taşıma çantasının boyutlarını ve malzemesini araştırarak almanız yolculuk esnasında köpeğinizin rahat etmesini sağlayacaktır.</p></div>
              </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center mt-3">
              <div class="urunmain">
                <div class="urunfoto">
                  <a href="#"><img style="width: 100%; height: 300px;" src="assets/3.jpg" alt=""></a>
                </div>
                <a style ="text-decoration: none; color: black;" href="#"><div class="urunbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Mama ve Su Kapları</h4></div></a>
                <div class="urunaciklama" style="height: 100px; overflow: hidden;"><p>Tüm dostlarımızın en temel ihtiyaçları yiyecek ve sudur. Sadık dostlarınız evinize ilk geldiği anda onların bu temel gereksinimlerini en sağlıklı şekilde karşılamak için köpek mama ve su kabı ürünleri arasından seçim yapmanız gerekir. Bu aşamada kolay temizlenebilen, sağlığa zararı olmayan malzemelerden üretilmiş ve köpeğinizin boyutlarına uygun ölçülere sahip olan alternatiflere yönelmelisiniz.</p></div>
              </div>
            </div>
           
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 style="text-align: center;">En Son Eklenenler</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-3">
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="urunmain">
        <div class="urunfoto">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/9.jpg" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="urunbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Ödüller</h4></div></a>
        <div class="urunaciklama" style="height: 100px; overflow: hidden;"><p>Can dostunuzla evinize ilk geldiğiniz andan itibaren onunla daha uyumlu bir hayat yaşamak için eğitim sürecine odaklanmanız gerekir. Bu aşamada köpek ödül mamaları pozitif davranışlarını desteklemek için tercih edebileceğiniz en etkili yöntemlerden biridir.</p></div>
      </div>
    </div>
  
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="urunmain">
        <div class="urunfoto">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/10.jpg" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="urunbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Aksesuarlar</h4></div></a>
        <div class="urunaciklama" style="height: 100px; overflow: hidden;"><p>Çeşitli aksesuar seçenekleriyle evcil dostumuzun bakımını kolay hale getirebilirsiniz.</p></div>
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="urunmain">
        <div class="urunfoto">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/11.jpg" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="urunbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Oyuncaklar</h4></div></a>
        <div class="urunaciklama" style="height: 100px; overflow: hidden;"><p>Günlük yürüyüşler can dostunuzla bağınızı güçlendirmek, onun sağlıklı gelişimini desteklemek veya kendisini mutlu etmesini sağlamak için çok önemli olsa da tam anlamıyla yeterli sayılmaz. Onlarla birlikte gerçekleştireceğiniz en keyifli ve faydalı aktivitelerden biri de oyun oynamaktır. </p></div>
      </div>
    </div>
  
 
  </div>

</div>

<app-footer></app-footer>
